.container {
    display: flex;
    height: 100vh;
}

.left, .right {
    flex: 0 0 50%;
    min-width: 0;
}

.left {
  position: sticky;
  top: 0;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
  background: #0f172a;
}

.right {
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
  background: #0f172f;
}