.container {
    display: flex;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    
}

.left, .right {
    flex: 0 0 50%;
    min-width: 0;
}

.left {
  position: sticky;
  top: 0;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
  background: #610000;
}

.right {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 2rem;
  background: #442800;
}

.right::-webkit-scrollbar {
  display: none;
}