@import url('https://rsms.me/inter/inter.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    color: rgb(148, 163, 184);
}

html,
body {
    font-family: 'Inter', sans-serif;
    font-feature-settings: "cv11";
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #0f172a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 1.3em;
}

a {
    text-decoration: none;
    background-color: rgb(166, 166, 108);
}

p {
    line-height: 1.7em;
}

.profile__name {
    color: #e5e7eb;
    margin-left: -2px;
    letter-spacing: -3px;

}

.profile__title {
    /* font-weight: 500; */
    margin-bottom: 1.3em;
    margin-top: .4em;
    color: #e5e7eb;

}

.profile_description {
    width: 350px;
}

.about {
    font-size: 1em;
    margin-bottom: 170px;
}

.container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    position: relative;

}

.left {
    position: sticky;
    top: 0;
    padding: 5.6em 0em;
    flex: 0 0 550px;
    align-self: flex-start;
}

.right {
    height: 100%;
    scrollbar-width: none;
    padding: 6em 2rem;
    width: 670px;
    min-width: 670px;
}

.right::-webkit-scrollbar {
    display: none;
}

/* Tarjeta de Experiencia Laboral */
.card {

    margin-top: 0;
    margin-bottom: 2em;
    display: flex;
    padding: 2em;
    border-radius: 6px;
    border-top: 1px solid transparent;
    margin-left: -30px;
}

.card:hover {
    background-color: #5b678213;
    border-top: 1px solid rgba(255, 255, 255, 0.075);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.107);
}

.card:hover .title {
    color: rgba(94, 234, 212);

}

.card__left_column {
    font-size: .75em;
    min-width: 25%;
    color: rgba(148, 163, 184, 0.637);
    font-weight: 500;

}

.card__right_column .title {
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 0.5em;
    /* margin-top: -5px; */

}

.card__right_column .description {
    line-height: 1.3em;
    margin-bottom: 1em;
}

.card__right_column .tech_container {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.card__right_column .tech_container span {
    color: rgba(94, 234, 212);
    background-color: rgba(18, 49, 59, 0.669);
    padding: 0px 1em;
    border-radius: 20px;
    font-size: .8em;
    font-weight: 600;
    line-height: 2.2em;
}