@import url('https://rsms.me/inter/inter.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    color: rgb(148, 163, 184);
}

html,
body {
    font-family: 'Inter', sans-serif;
    font-feature-settings: "cv11";
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #0f172a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 1.3em;
}

a {
    text-decoration: none;
    background-color: rgb(166, 166, 108);
}
p {
    line-height: 1.7em;
}

.profile__name {
    color: #e5e7eb;
    margin-left: -2px;
    letter-spacing: -3px;

}

.profile__title {
    /* font-weight: 500; */
    margin-bottom: 1.3em;
    margin-top: .4em;
    color: #e5e7eb;

}

.profile_description {
    width: 350px;
}

.about {
    font-size: 1em;
}

.container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    position: relative;

}

.left {
    position: sticky;
    top: 0;
    padding: 5.6em 0em;
    flex: 0 0 550px;
    align-self: flex-start;
}

.right {
    height: 100%;
    scrollbar-width: none;
    padding: 6em 2rem;
    width: 670px;
    min-width: 670px;
}

.right::-webkit-scrollbar {
    display: none;
}