---
import BaseCard from "./BaseCard.astro";
import { Image } from "astro:assets";

export interface Props {
    imageSrc: ImageMetadata;
    title: string;
    description: string;
    technologies?: string[];
}

const { imageSrc, ...rest } = Astro.props;
---

<BaseCard {...rest}>
    <div slot="left">
        <Image class="project_image" src={imageSrc} alt={rest.title} />
    </div>
</BaseCard>
