---
import MainLayout from "../layouts/MainLayout.astro";
import Profile from "../components/Profile.astro";
import About from "../components/About.astro";
import ExperienceCard from "../components/card/ExperienceCard.astro";
import SectionLink from "../components/SectionLink.astro";
import ProjectCard from "../components/card/ProjectCard.astro";
import Menu from "../components/Menu.astro";
import EducationCard from "../components/card/EducationCard.astro";
import SocialMedia from "../components/SocialMedia.astro";
import ProjectsLink from "../components/ProjectsLink.astro";

import KonohaProjectImage from "../assets/konoha_project.png";
import WhMultitoolImage from "../assets/wh-multitool.png";
import WhBotImage from "../assets/wallhack-bot.png";
import WhggImage from "../assets/whgg.png"
---

<MainLayout>
    <Profile slot="leftbar" />
    <Menu slot="leftbar" />
    <SocialMedia slot="leftbar" />
    <div id="sobre-mi">
        <h4 class="title__sobre-mi">SOBRE MI</h4>
        <About />
    </div>

    <div id="experiencia">
        <h4 class="title__experiencia">EXPERIENCIA</h4>
        <ExperienceCard
            period="2025 ━ ACTUALIDAD"
            title="Desarrollador de Software · Homolocar"
            description="Encargado del desarrollo de una herramienta de automatización para procesos internos. Gracias a esto he conseguido reducir la carga de trabajo de la plantilla significativamente."
            technologies={[
                "Python",
                "PostgreSQL",
                "CI/CD",
                "Ruff",
                "uv",
                "Git y GitHub",
            ]}
        />

        <ExperienceCard
            period="2024 ━ 2025"
            title="Desarrollador Web · Freelance"
            description="Diseñé y desarrollé un sitio web para un cliente del sector del comercio textil. Implementé el sistema de pagos integrado con Stripe y configuré el alojamiento con Hostinger."
            technologies={["Wordpress", "CSS", "Hostinger", "CMS"]}
        />

        <ExperienceCard
            period="Enero 2024 ━ Julio 2024"
            title="Desarrollador de Software"
            description="Trabajé en un equipo para desarrollar una solución de procesamiento de imágenes mediante un OCR. Diseñé un paquete en Python utilizando TesseractOCR y OpenCV para la extracción de datos a formato JSON."
            technologies={[
                "Python",
                "OpenCV",
                "TesseractOCR",
                "Git y Github",
                "Trello",
            ]}
        />
    </div>

    <SectionLink hrefLink="/cv.pdf" text="Ver CV completo" />

    <div id="proyectos">
        <h4 class="title__proyectos">PROYECTOS</h4>
        <a href="https://github.com/Diegowh/KonohaProject" target="_blank"
            ><ProjectCard
                imageSrc={KonohaProjectImage}
                title="TimeJutsu"
                description="Aplicación móvil inspirada en la serie de animación Naruto, diseñada para mejorar tu productividad mediante la gamificación. Puedes desbloquear personajes, ganar experiencia y coleccionar logros."
                technologies={["Kotlin", "Android Studio", "XML", "Jetpack Compose", "Gradle", "Git y Github"
                ]}
            />
        </a>
        <a href="https://github.com/Diegowh/WHMultitool" target="_blank">
            <ProjectCard
                imageSrc={WhMultitoolImage}
                title="WH Multitool"
                description="Herramienta de control automatizado para ARK: Survival Ascended. Te permite realizar una amplia lista de tareas y acciones dentro del videojuego de manera automática."
                technologies={[
                    "Python",
                    "pyautogui",
                    "Poetry",
                    "Git y Github"
                ]}
            />
        </a>

        <a href="https://github.com/Diegowh/wallhack-bot" target="_blank">
            <ProjectCard
                imageSrc={WhBotImage}
                title="Wallhack Bot"
                description="Bot de Discord para ofrecer un servicio a los jugadores de ARK: Survival Ascended. Permite monitorizar en tiempo real el estado de los servidores oficiales del juego, así como gestionar tickets, crear temporizadores, y otras funciones de gestión y administración."
                technologies={["Python", "Discord.py", "aiohttp", "SQLite"]}
            />
        </a>

        <a href="https://github.com/Diegowh/WHGG" target="_blank">
            <ProjectCard
                imageSrc={WhggImage}
                title="WH.GG"
                description="Aplicación web de análisis de datos para League of Legends. Permite consultar y comparar estadísticas de perfiles de jugador, visualizar diferentes Tier List y otros datos relevantes."
                technologies={[
                    "FastAPI",
                    "Python",
                    "React",
                    "TypeScript",
                    "Docker",
                    "PostgreSQL",
                    "SQLAlchemy",
                    "Poetry",
                    "Vite",
                    "Git y GitHub"
                ]}
            />
        </a>
    </div>

    <ProjectsLink hrefLink="/projects" text="Ver todos mis proyectos" />

    <div id="estudios">
        <h4 class="title__educacion">EDUCACIÓN</h4>
        <a href="https://santamaria-artesano.org/" target="_blank">
            <EducationCard
                period="2024 ━ 2026"
                title="Grado Superior en Desarrollo de Aplicaciones Multiplataforma"
                description="Santa María la Nueva y San José Artesano"
            />
        </a>
        <EducationCard
            period="2022-2023"
            title="Fundamentos de la gestión de proyectos"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2022-2023"
            title="Data Analysis"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2022-2023"
            title="IT Automation with Python"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2022-2023"
            title="IT Support"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2022-2023"
            title="UX Design"
            description="Google Fundae Scholarships"
        />
        <EducationCard
            period="2016 ━ 2017"
            title="Grado Medio en Sistemas Microinformáticos y Redes"
            description="Juan de Colonia"
        />
    </div>
</MainLayout>
