---
import ProjectsLayout from "../layouts/ProjectsLayout.astro";
import BackLink from "../components/projects/BackLink.astro";
import ProjectsTable from "../components/projects/ProjectsTable.astro"
---

<ProjectsLayout>
    <BackLink/>
        <h1 class="projects_title">Mis proyectos</h1>
        <ProjectsTable/>
    </ProjectsLayout
>
