
<div class="about">
    <p>
        Soy una persona curiosa, con ganas de aprender y de trabajar en equipo.
    </p>
    <br />
    <p>
        Actualmente <b>Desarrollador de Software en</b>
        <a href="https://www.homolocar.com/" target="_blank"><b>Homolocar S.L.</b></a>, donde soy el encargado del desarrollo de una herramienta de
        automatización,  con la que he conseguido agilizar la carga de trabajo
        de los empleados significativamente.
    </p>
    <br />
    <p>
        Paralelamente, ejerzo como <b>Product Owner en un equipo Scrum</b> de diez personas. Gestiono la planificación, priorización del backlog y la comunicación con el cliente. 
    </p>
    <br />
    <p>
        Mi experiencia va desde <b>desarrollo web y móvil</b> hasta herramientas para videojuegos con cientos de usuarios activos, lo que ha mejorado mi <b>capacidad de resolución de problemas y de trabajo en equipo.</b> 
    </p>
    <br />
    <p>
        Fuera del código: ejercicio físico y rodearme de buena compañía.
    </p>
</div>
