
<div class="about">
    <p>
        Siempre he sido una persona muy curiosa, con ganas de aprender y
        trabajar en equipo. Desde que descubrí el mundo del desarrollo de
        software, mi vida dió un giro por completo, ya que me permitió
        compaginar mi pasión con mi trabajo.
    </p>
    <br />
    <p>
        Actualmente, trabajo como Desarrollador de Software en
        <a href="https://www.homolocar.com/"><b>Homolocar S.L.</b></a> Soy el encargado del desarrollo de una herramienta de
        automatización de procesos. He conseguido agilizar la carga de trabajo
        de los empleados significativamente.
    </p>
    <br />
    <p>
        A su vez, estoy trabajando como Product Owner en un side project dentro
        de un equipo Scrum de diez personas. Me encargo de definir y priorizar
        el backlog, coordinar las reuniones con el cliente. También gestiono las
        herramientas colaborativas del equipo.
    </p>
    <br />
    <p>
        En el pasado he desarrollado software para una amplia variedad de
        proyectos, desde aplicaciones web y móviles hasta herramientas para
        videojuegos utilizadas actualmente por cientos de usuarios. Esta
        experiencia me ha permitido mejorar mi trabajo en equipo, planificación
        y desarrollo de proyectos.
    </p>
    <br />
    <p>
        Mi tiempo libre lo invierto en entrenar en el gimnasio, socializar y
        leer algún que otro libro de filosofía o tecnología.
    </p>
</div>
