
<div class="about">
    <p>
        Soy una persona muy curiosa, con ganas de mejorar y
        trabajar en equipo. Desde que descubrí el mundo del desarrollo de
        software, mi vida dio un giro por completo, ya que me permitió
        compaginar mi pasión con mi trabajo.
    </p>
    <br />
    <p>
        Actualmente, trabajo como <b>Desarrollador de Software en</b>
        <a href="https://www.homolocar.com/"><b>Homolocar S.L.</b></a> Soy el encargado del desarrollo de una herramienta de
        automatización de procesos con la que he conseguido agilizar la carga de trabajo
        de los empleados significativamente.
    </p>
    <br />
    <p>
        Como side project, estoy trabajando como <b>Product Owner en un equipo Scrum</b> junto con otras diez personas. Me encargo de definir y priorizar
        el backlog, coordinar las reuniones con el cliente. También gestiono las
        herramientas colaborativas del equipo, así como las decisiones sobre la arquitectura del software.
    </p>
    <br />
    <p>
        Anteriormente, he trabajado en diversos proyectos, desde <b>aplicaciones web</b> hasta herramientas para
        videojuegos usadas por cientos de usuarios. Estas
        experiencias me han ayudado a mejorar mi <b>capacidad para resolver problemas y colaborar con otras personas.</b>
    </p>
    <br />
    <p>
        En mi tiempo libre compagino deporte, lectura y un poco de socialización.
    </p>
</div>
