
<div class="about">
    <p>
        Soy una persona muy curiosa, con ganas de aprender y
        trabajar en equipo.
    </p>
    <br />
    <p>
        Actualmente, trabajo como <b>Desarrollador de Software en</b>
        <a href="https://www.homolocar.com/" target="_blank"><b>Homolocar S.L.</b></a> Soy el encargado del desarrollo de una herramienta de
        automatización de procesos con la que he conseguido agilizar la carga de trabajo
        de los empleados significativamente.
    </p>
    <br />
    <p>
        En mi tiempo libre hago el rol de <b>Product Owner en un equipo Scrum</b> de diez personas. Me encargo de la planificación, toma de decisiones y definición del backlog, así como de concretar las reuniones con el cliente. 
    </p>
    <br />
    <p>
        Anteriormente, he tenido la oportunidad de trabajar en diversos proyectos, desde <b>aplicaciones web</b> hasta herramientas para
        videojuegos usadas por cientos de usuarios. Estas
        experiencias me han ayudado a mejorar mi <b>capacidad para resolver problemas y trabajar en equipo.</b>
    </p>
    <br />
    <p>
        En mi tiempo libre compagino deporte, lectura y socialización.
    </p>
</div>
