<div class="card">
    <div class="card__left_column">2024 ━ PRESENT</div>
    <div class="card__right_column">
        <p class="title">Senior Frontend Engineer, Accessibility</p>
        <p class="description">
            Build and maintain critical components used to construct Klaviyo's
            frontend, across the whole product. Work closely with
            cross-functional teams, including developers, designers, and product
            managers, to implement and advocate for best practices in web
            accessibility.
        </p>
        <div class="tech_container">
            <span>JavaScript</span>
            <span>TypeScript</span>
            <span>HTML & CSS</span>
            <span>React</span>
            <span>Next.js</span>
            <span>React Native</span>
            <span>Wordpress</span>
            <span>Contentful</span>
            <span>Node.js</span>
            <span>PHP</span>
        </div>
    </div>
</div>
