<div class="menu">
    <ul>
        <li>
            <a href="">
                <span class="menu__bar"></span>
                <span class="menu__name">SOBRE MI</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="menu__bar"></span>
                <span class="menu__name">EXPERIENCIA</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="menu__bar"></span>
                <span class="menu__name">PROYECTOS</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="menu__bar"></span>
                <span class="menu__name">ESTUDIOS</span>
            </a>
        </li>
    </ul>
</div>
