---
export interface Props {
    name: string;
    title: string;
    description: string;
}
const { name, title, description } = Astro.props
---

<article class="profile">
    <h1 class="profile__name"><a href="/">{name}</a></h1>
    <h2 class="profile__title">{title}</h2>
    <p class="profile_description">{description}</p>
</article>
