

<div class="profile">
    <h1 class="profile__name"><a href="/">"Diego García"</a></h1>
    <h2 class="profile__title">Software Developer</h2>
    <p class="profile_description">Creo soluciones tecnológicas de principio a fin</p>
</div>
