<div class="profile">
    <a href="#sobre-mi"><h1 class="profile__name">Diego <span class="profile__surname">García</span></h1></a>
    <h2 class="profile__title">Desarrollador de Software</h2>
    <p class="profile_description">Convirtiendo problemas reales en soluciones de calidad.</p>
</div>
