

<div class="profile">
    <h1 class="profile__name"><a href="/">Diego García</a></h1>
    <h2 class="profile__title">Desarrollador de Software</h2>
    <p class="profile_description">Trabajo en construir soluciones tecnológicas de calidad.</p>
</div>
