---
import ArrowIcon from "./arrow-up-right-from-square.svg";

export interface Props {
    hrefLink: string,
    text: string
}

const { hrefLink, text } = Astro.props
---

<div class="section_link_container">
    <a href={hrefLink}>
        <span class="section_link_txt">{text}</span>
        <ArrowIcon class="icon"/>
    </a>
</div>
