---
import DiagonalArrowIcon from "./reshot-icon-arrow-diagonal-up-right.svg";

export interface Props {
    hrefLink: string,
    text: string
}

const { hrefLink, text } = Astro.props
---

<div class="section_link_container">
    <a href={hrefLink} target="_blank">
        <span class="section_link_txt">{text}</span>
        <DiagonalArrowIcon class="icon"/>
    </a>
</div>
