---
import GithubIcon from "./github-mark-white.svg";
import LinkedinIcon from "./linkedin-icon.svg";
import InstagramIcon from "./instagram-icon.svg";
import EmailIcon from "./email-icon.svg";
---

<div class="social_media">
    <a href="https://github.com/Diegowh" aria-label="GitHub" target="_blank">
        <GithubIcon class="icon" />
    </a>
    <a
        href="https://www.linkedin.com/in/diegowh/"
        aria-label="Linkedin"
        target="_blank"
    >
        <LinkedinIcon class="icon" />
    </a>
    <a
        href="https://www.instagram.com/diego__wh/"
        aria-label="Instagram"
        target="_blank"
    >
        <InstagramIcon class="icon" />
    </a>
    <a href="mailto:contacto.diegowh@gmail.com">
        <EmailIcon class="icon" />
    </a>
</div>
