---
import "../styles/global.css"
import "../styles/columnas.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Diego García</title>
	</head>
	<body>
        <div class="container">
            <aside class="left">
                <slot name="leftbar"/>
            </aside>
            <main class="right">
                <slot />
            </main>
        </div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
